BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 300

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true  
AllowShortLoopsOnASingleLine: true         
AllowShortCaseLabelsOnASingleLine: true    
AllowShortEnumsOnASingleLine: true         
AllowShortLambdasOnASingleLine: All        
